<html dir="ltr" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Burr Solutions | Web Design & Development</title>
    <meta name="description" content="A static website">
    <link rel="stylesheet" href="/css/style.css"> 
  </head>

  {% include partials/nav.html %}

  <body>
    <main>  
      {{ content }} 
    </main>
  <script src="/js/main.js"></script>
  </body> 

  {% include partials/footer.html %}
  
</html>