/* variables */  
  
$background: #d8cfbb;
$text: #202020;
$link: #7e3b4f;
$light:#dfd6c38a;
$dark: #38352f5b;
$hover: #4c4b58;

/* nav */

.nav ul {
  display:flex;
  justify-content: space-evenly; 
  margin:2.5vw 0;
  padding:0;
}

.nav li {
  list-style: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight:300;
} 

a {
  text-decoration:none;
  color:$link;
}

a:hover {
  color: $hover;
}

/* index */

* { box-sizing: border-box; }
body { margin: 0; }
html {
  background: $background;
  color: $text;
  font-family: sans-serif;
}
article {
  display:block;
  margin:3rem 4vw 3rem 4vw
}

.index {
    margin:2.5vw 5vw 2.5vw 5vw;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    text-transform: uppercase;
  } 

.index h1 {
  margin:0;
  display:flex;
  justify-self: center;
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:2;
  grid-row-end:4;
  font-size: 20vw;
  font-weight:300;
  z-index: 2;
}

.index img {
  margin:0;
  max-width: 80%;
  min-width: 325px;
  height:auto;
  display: flex;
  justify-self:center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end:5;
  opacity: .3;
  z-index: 4;
  border: double $text 6.5px;
}

.index h2 {
  margin:0;
  font-size:2.75vw;
  font-weight:300;
  justify-self: center;
  align-self: center;
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:3;
  grid-row-end:4;
  
}

.index p {
  margin:auto;
  padding:5vw 0 2.5vw 0;
  font-size:1.5rem;
  font-weight:300;
  max-width: 70%;
  justify-content: center;
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:6;
  grid-row-end:7;
  text-transform: none;
  line-height: 1.5;
}

/* experience */

.exp {
  display:flex;
  flex-direction: column;
  margin:0 10%;
  padding:5vw;
  line-height: 1.5;
}

.exp h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight:300;
}

.exp p {
  margin:0;
  font-size: 1.5rem;
  font-weight:300;
  text-transform: none;
}

.exp ul {
  margin:1vw 0 2.5vw 0;
}
.exp li {
  font-size: 1.5rem;
  font-weight:300;
} 

.bar {
  display:flex;
  margin:0 auto;
  max-width:70%;
  height:15px;
  border: double $dark 6.5px;
}

.box{
  display: none;
  width: 100%;
}

a:hover + .box,.box:hover{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  
}

/* footer */
  
.footer {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:5vw 20%;
}

.footer img {
  max-width:100%;
  height:auto;
}

.footer a {
  margin: 0 3vw;
}

@media (max-width:1100px) {

a:hover + .box,.box:hover{display: none;}
}

@media (max-width:700px) {
.nav ul {margin:2.5vw 0;}  
.nav li, .exp h1 {font-size:5vw;}
.index p, .exp p, .exp li {font-size:4vw;}
}
  
@media (max-width:450px) {
  .nav ul {margin:5vw 0;}  
  .index p{padding:15vw 0;}
}

