<footer class="footer">
        <a href="https://www.linkedin.com/in/kenny-miller-698263a0/"><img src="/img/LI-In-Bug.png" alt="Navigate to my LinkedIn" width="60" height="51"></a>
        <a href="https://github.com/knnymllr"><img src="/img/Octocat.png" alt="Navigate to my GitHub" width="60" height="60"></a>
        <a href="https://ko-fi.com/burrsolutions"><img src="/img/kofi.png" alt="Buy me a coffee" width="60" height="60"></a>
        <a href="mailto:knnthrmllr@gmail.com"><img src="/img/email.png" alt="Email me from your default address" width="58" height="58"></a>
</footer>
